<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="/nexcore.pref"
            class="nexcore.tool.uml.ui.preferences.pages.UMLPreferencePage"
            id="nexcore.pref.uml"
            name="%uml.modeler">
      </page>
      <page
            category="/nexcore.pref.uml"
            class="nexcore.tool.uml.ui.preferences.pages.AppearancePreferencePage"
            id="nexcore.pref.uml.modeling.appearance"
            name="%uml.appearance">
      </page>
      <page
            category="/nexcore.pref.uml"
            class="nexcore.tool.uml.ui.preferences.pages.ProjectExplorerPreferencePage"
            id="nexcore.pref.uml.modeling.projectexplorer"
            name="%uml.projectExplorer">
      </page>
      <page
            category="/nexcore.pref.uml"
            class="nexcore.tool.uml.ui.preferences.pages.DiagramPreferencePage"
            id="nexcore.pref.uml.modeling.diagram"
            name="%uml.diagram">
      </page>
      <page
            category="/nexcore.pref.uml.modeling.diagram"
            class="nexcore.tool.uml.ui.preferences.pages.SequenceDiagramPreference"
            id="nexcore.pref.uml.modeling.diagram.sequencediagram"
            name="%uml.diagram.sequence">
      </page>
      <page
            category="/nexcore.pref.uml.modeling.diagram"
            class="nexcore.tool.uml.ui.preferences.pages.ClassDiagramPreferencePage"
            id="nexcore.pref.uml.modeling.diagram.classdiagram"
            name="%uml.diagram.class">
      </page>
      <page
            category="/nexcore.pref.uml.modeling.diagram"
            class="nexcore.tool.uml.ui.preferences.pages.CommonlyPreferencePage"
            id="nexcore.pref.uml.modeling.diagram.commonly"
            name="%uml.diagram.common">
      </page>
      <page
            category="/nexcore.pref.uml.modeling.diagram"
            class="nexcore.tool.uml.ui.preferences.pages.ActivityDiagramPreference"
            id="nexcore.pref.uml.modeling.diagram.activitydiagram"
            name="%uml.diagram.activity">
      </page>
      <page
            category="/nexcore.pref.uml.modeling.diagram"
            class="nexcore.tool.uml.ui.preferences.pages.ComponentDiagramPreference"
            id="nexcore.pref.uml.modeling.diagram.componentdiagram"
            name="%uml.diagram.component">
      </page>
      <page
            category="/nexcore.pref.uml.modeling.projectexplorer"
            class="nexcore.tool.uml.ui.preferences.pages.ProjectExplorerFragmentPreferencePage"
            id="nexcore.pref.uml.modeling.projectexplorer.fragment"
            name="%uml.projectExplorer.fragment">
      </page>
      <page
            category="/nexcore.pref.uml"
            class="nexcore.tool.uml.ui.preferences.pages.PrintPreferencePage"
            id="nexcore.pref.uml.modeling.print"
            name="%uml.print.pagesetup">
      </page>
      <page
            category="/nexcore.pref.uml"
            class="nexcore.tool.uml.ui.preferences.pages.RefactorPreferencePage"
            id="nexcore.pref.uml.modeling.refactor"
            name="%uml.refactor">
      </page>
   </extension>

</plugin>
