<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="nexcore.tool.uml.ui.search.ui.UMLModelSearchPage"
            extensions="*.1"
            icon="icons/DILogo_01.gif"
            id="nexcore.tool.uml.ui.search.ui.UMLModelSearchPage"
            label="UML Model Search"
            showScopeSection="true"
            sizeHint="250,160"
            tabPosition="1">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="nexcore.tool.uml.ui.search.ui.UMLModelSearchResultPage"
            id="nexcore.tool.uml.ui.search.ui.UMLModelSearchResultPage"
            searchResultClass="nexcore.tool.uml.ui.search.ui.UMLModelSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="nexcore.tool.uml.ui.search.ui.UMLInverseReferenceModelSearchResultPage"
            id="nexcore.tool.uml.ui.search.ui.UMLInverseReferenceModelSearchResultPage"
            searchResultClass="nexcore.tool.uml.ui.search.ui.UMLInverseReferenceModelSearchResult">
      </viewPage>
   </extension>   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="nexcore.tool.uml.ui.project.editObjectContribution.stereotype"
            objectClass="nexcore.tool.uml.ui.core.project.UMLTreeNode">
         <action
               class="nexcore.tool.uml.ui.search.action.SearchOfInverseReference"
               id="nexcore.tool.uml.ui.search.action.searchofinversereference"
               label="참조 모델 찾기"
               menubarPath="additions">
         </action>
         <menu
               id="nexcore.tool.uml.ui.project.menu.search"
               label="Search">
            <separator
                  name="multiGroup">
            </separator>
         </menu>
         <visibility>
            <and>
               <not>
                  <objectState
                        name="EOBJECT"
                        value="org.eclipse.uml2.uml.internal.impl.ModelImpl">
                  </objectState>
			   </not>                  
               <not>                  
	               <objectState
	                     name="EOBJECT"
	                     value="org.eclipse.uml2.uml.internal.impl.PackageImpl">
	               </objectState>                  
               </not>
               <not>                  
	               <objectState
	                     name="EOBJECT"
	                     value="org.eclipse.uml2.uml.internal.impl.PackageImportImpl">
	               </objectState>                  
               </not>
               <objectClass
                     name="nexcore.tool.uml.ui.core.project.UMLTreeNode">
               </objectClass>
            </and>
         </visibility>
      </objectContribution>
   </extension>   
</plugin>
