<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="nexcore.tool.uml.ui.Property"
            labelProvider="nexcore.tool.uml.ui.property.provider.PropertyTitleLabelProvider"
            typeMapper="nexcore.tool.uml.ui.property.UMLModelTypeMapper">
         <propertyCategory
               category="UMLModel"></propertyCategory>
      </propertyContributor>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="nexcore.tool.uml.ui.Property">
         <propertyTab
               category="UMLModel"
               id="tab.general"
               label="%property.general">
         </propertyTab>
         <propertyTab
               afterTab="tab.general"
               category="UMLModel"
               id="tab.attribute"
               label="%property.attribute">
         </propertyTab>
         <propertyTab
               afterTab="tab.attribute"
               category="UMLModel"
               id="tab.operation"
               label="%property.operation">
         </propertyTab>
         <propertyTab
               afterTab="tab.operation"
               category="UMLModel"
               id="tab.stereotype"
               label="%property.stereotype">
         </propertyTab>
         <propertyTab
               afterTab="tab.operation"
               category="UMLModel"
               id="tab.argument"
               label="%property.argument">
         </propertyTab>
<!--
         <propertyTab
               afterTab="tab.argument"
               category="UMLModel"
               id="tab.exception"
               label="%property.exception">
         </propertyTab>
-->         
         <propertyTab
               afterTab="tab.argument"
               category="UMLModel"
               id="tab.document"
               label="%property.document">
         </propertyTab>
         <propertyTab
               afterTab="tab.document"
               category="UMLModel"
               id="tab.message.document"
               label="%property.message.document">
         </propertyTab>
         <propertyTab
               afterTab="tab.stereotype"
               category="UMLModel"
               id="tab.usecase.basicflow"
               label="%property.usecase.basicflow">
         </propertyTab>
         <propertyTab
               afterTab="tab.usecase.basicflow"
               category="UMLModel"
               id="tab.usecase.subflow"
               label="%property.usecase.subflow">
         </propertyTab>
         <propertyTab
               afterTab="tab.usecase.subflow"
               category="UMLModel"
               id="tab.usecase.exceptionflow"
               label="%property.usecase.exceptionflow">
         </propertyTab>
         <propertyTab
               afterTab="tab.usecase.exceptionflow"
               category="UMLModel"
               id="tab.usecase.condition"
               label="%property.usecase.condition">
         </propertyTab>
         <propertyTab
               afterTab="tab.document"
               category="UMLModel"
               id="tab.shape"
               label="%property.shape">
         </propertyTab>
         <propertyTab
               afterTab="tab.operation"
               category="UMLModel"
               id="tab.literal"
               label="%property.literal">
         </propertyTab>
         <propertyTab
               afterTab="tab.usecase.condition"
               category="UMLModel"
               id="tab.ncprelationinfo"
               label="%property.relationinfo">
         </propertyTab>
      </propertyTabs>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="nexcore.tool.uml.ui.Property">
         <propertySection
               class="nexcore.tool.uml.ui.property.section.NameOfDiagramGeneralSection"
               id="diagram.name.section"
               tab="tab.general">
            <input
                  type="nexcore.tool.uml.model.umldiagram.Diagram">
            </input>
         </propertySection>
         <propertySection
               afterSection="diagram.name.section"
               class="nexcore.tool.uml.ui.property.section.TypeOfDiagramGeneralSection"
               id="diagram.type.section"
               tab="tab.general">
            <input
                  type="nexcore.tool.uml.model.umldiagram.Diagram">
            </input>
         </propertySection>
         <propertySection
               afterSection="diagram.type.section"
               class="nexcore.tool.uml.ui.property.section.DescriptionOfDiagramGeneralSection"
               id="diagram.description.section"
               tab="tab.general">
            <input
                  type="nexcore.tool.uml.model.umldiagram.Diagram">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.DocumentSection"
               id="diagram.document.section"
               tab="tab.document">
            <input
                  type="nexcore.tool.uml.model.umldiagram.Diagram">
            </input>
         </propertySection>
         <!--propertySection
               class="nexcore.tool.uml.ui.property.section.DocumentSection"
               id="diagram.advanced.section"
               tab="tab.advanced">
            <input
                  type="nexcore.tool.uml.ui.core.diagram.edit.part.AbstractDiagramEditPart">
            </input>
         </propertySection-->
         <propertySection
               afterSection="notation.usecase.displayid"
               class="nexcore.tool.uml.ui.property.section.NameOfNotationGeneralSection"
               id="notation.name.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Model">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Package">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Dependency">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Usage">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InterfaceRealization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Lifeline">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Message">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Collaboration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InitialNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityFinalNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.OpaqueAction">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DecisionNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.MergeNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ForkNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.JoinNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CentralBufferNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataStoreNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ControlFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ObjectFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityPartition">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CombinedFragment">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InteractionOperand">
            </input>
            <input
                  type="org.eclipse.uml2.uml.EnumerationLiteral">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataType">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Enumeration">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.name.section"
               class="nexcore.tool.uml.ui.property.section.VisibilityGeneralSection"
               id="notation.visibility.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Model">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Package">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Lifeline">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Collaboration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InitialNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityFinalNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.OpaqueAction">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DecisionNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.MergeNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ForkNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.JoinNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CentralBufferNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataStoreNode">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.visibility.section"
               class="nexcore.tool.uml.ui.property.section.AbstractGeneralSection"
               id="notation.abstract.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Enumeration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Collaboration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Signal">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataType">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.abstract.section"
               class="nexcore.tool.uml.ui.property.section.LeafGeneralSection"
               id="notation.leaf.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Enumeration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Collaboration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Signal">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataType">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
        
         <propertySection
               afterSection="notation.visibility.section"
               class="nexcore.tool.uml.ui.property.section.QualifierOfAttributeGeneralSection"
               id="notation.attribute.qualifier.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
         </propertySection>
		 <propertySection
				afterSection="notation.attribute.qualifier.section"
                class="nexcore.tool.uml.ui.property.section.TypeOfAttributeGeneralSection"
                id="notation.attribute.type.section"
                tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.attribute.type.section"
               class="nexcore.tool.uml.ui.property.section.DefaultValueGeneralSection"
               id="notation.attribute.default_value.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.attribute.default_value.section"
               class="nexcore.tool.uml.ui.property.section.MultiplicityGeneralSection"
               id="notation.attribute.multiplicity.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.KeywordGeneralSection"
               id="notation.keyword.section"
               tab="tab.stereotype">
            <input
                  type="org.eclipse.uml2.uml.Model">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Package">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Dependency">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Usage">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Association">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Generalization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InterfaceRealization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Lifeline">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Message">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Collaboration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InitialNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityFinalNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.OpaqueAction">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DecisionNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.MergeNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ForkNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.JoinNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CentralBufferNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataStoreNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ControlFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ObjectFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityPartition">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CombinedFragment">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InteractionOperand">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InteractionConstraint">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.keyword.section"
               class="nexcore.tool.uml.ui.property.section.StereotypeOfGeneralSection"
               id="notation.stereotype.section"
               tab="tab.stereotype">
            <input
                  type="org.eclipse.uml2.uml.Model">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Package">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Dependency">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Usage">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Association">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Generalization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InterfaceRealization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Lifeline">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Message">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Collaboration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InitialNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityFinalNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.OpaqueAction">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DecisionNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.MergeNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ForkNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.JoinNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CentralBufferNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataStoreNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ControlFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ObjectFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityPartition">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CombinedFragment">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InteractionOperand">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InteractionConstraint">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.AssociationGeneralSection"
               id="notation.association.general.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Association">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.OperationSection"
               id="notation.operation.section"
               tab="tab.operation">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Component">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataType">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.ParameterSection"
               id="notation.parameter.section"
               tab="tab.argument">
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.stereotype.section"
               class="nexcore.tool.uml.ui.property.section.AttributeSection"
               id="notation.attribute.section"
               tab="tab.attribute">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Component">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataType">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Signal">
            </input>
         </propertySection>
         <!--propertySection
               class="nexcore.tool.uml.ui.property.section.ExceptionsSection"
               id="notation.exception.section"
               tab="tab.exception">
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
         </propertySection-->
         <propertySection
               class="nexcore.tool.uml.ui.property.section.DocumentSection"
               id="notation.document.section"
               tab="tab.document">
            <input
                  type="org.eclipse.uml2.uml.Model">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Package">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Dependency">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Usage">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Association">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Generalization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InterfaceRealization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Association">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Lifeline">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Message">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Collaboration">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InitialNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityFinalNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.OpaqueAction">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DecisionNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.MergeNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ForkNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.JoinNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CentralBufferNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataStoreNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ControlFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ObjectFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityPartition">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CombinedFragment">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InteractionOperand">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InteractionConstraint">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Parameter">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.visibility.section"
               class="nexcore.tool.uml.ui.property.section.QualifierOfOperationGeneralSection"
               id="notation.operation.qualifier.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
         </propertySection>
	     <propertySection
            afterSection="notation.operation.qualifier.section"
            class="nexcore.tool.uml.ui.property.section.ReturnTypeGeneralSection"
            id="notation.returntype.section"
            tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Operation">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.name.section"
               class="nexcore.tool.uml.ui.property.section.TypeOfLifelineGeneralSection"
               id="notation.lifeline.type.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Lifeline">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.lifeline.type.section"
               class="nexcore.tool.uml.ui.property.section.SignatureGeneralSection"
               id="notation.signature.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.Message">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.MessageDocumentSection"
               id="notation.message.document.section"
               tab="tab.message.document">
            <input
                  type="org.eclipse.uml2.uml.Message">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.UsecaseBasicFlowSection"
               id="notation.usecase.basicflow.section"
               tab="tab.usecase.basicflow">
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.UsecaseSubFlowSection"
               id="notation.usecase.subflow.section"
               tab="tab.usecase.subflow">
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.UsecaseExceptionFlowSection"
               id="notation.usecase.exceptionflow.section"
               tab="tab.usecase.exceptionflow">
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.UsecasePreconditionSection"
               id="notation.usecase.precondition.section"
               tab="tab.usecase.condition">
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.UsecasePostconditionSection"
               id="notation.usecase.postcondition.section"
               tab="tab.usecase.condition">
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.UsecaseDisplayIdSection"
               id="notation.usecase.displayid"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.ShapeSection"
               filter="nexcore.tool.uml.ui.property.filter.PropertyShapeFiler"
               id="notation.shape.section"
               tab="tab.shape">
               <input
                  type="org.eclipse.uml2.uml.Package">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Artifact">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Interface">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Dependency">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Usage">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Association">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Generalization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InterfaceRealization">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Actor">
            </input>
            <input
                  type="org.eclipse.uml2.uml.UseCase">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Lifeline">
            </input>
            <input
                  type="org.eclipse.uml2.uml.Message">
            </input>
            <input
                  type="org.eclipse.uml2.uml.InitialNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ActivityFinalNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.OpaqueAction">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DecisionNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.MergeNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ForkNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.JoinNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.CentralBufferNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.DataStoreNode">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ControlFlow">
            </input>
            <input
                  type="org.eclipse.uml2.uml.ObjectFlow">
            </input>
         </propertySection>
         <propertySection
               afterSection="notation.operation.section"
               class="nexcore.tool.uml.ui.property.section.LiteralSection"
               id="notation.literal.section"
               tab="tab.literal">
            <input
                  type="org.eclipse.uml2.uml.Enumeration">
            </input>
         </propertySection>
         <propertySection
               class="nexcore.tool.uml.ui.property.section.ConstraintGeneralSection"
               id="notation.constraint.section"
               tab="tab.general">
            <input
                  type="org.eclipse.uml2.uml.InteractionConstraint">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
